<main>
  <section class="h-96 flex justify-around items-center gap-10 bg-mainColor">
    <div class="text-white text-center">
      <p class="font-semibold text-3xl py-5">
        survey rails app
      </p>
      <p class="py-3">
        create your first survey
      </p>
      <p>
        start sending your survey
      </p class="py-5">
      <div class="py-5 text-black">
        <%= button_to root_path, id: "get_started" do %>
          <div class="bg-signIn p-3 rounded-lg">
            <i class="fa-solid fa-arrow-right"></i> 
              <span class="ml-2">
                get started
              </span>
          </div> 
        <% end %>
      </div>
      <p class="text-sm font-semibold">
        survey app.com
      </p>
    </div>
    <div>
      <%= image_tag("logo_ruby.png", width: "200") %>
    </div>
  </section>

  <section>
    <div class="flex justify-around p-10">
      <%= image_tag("amazon.png", width: 150) %>
      <%= image_tag("twitter.png", width: 150) %>
      <%= image_tag("facebook.png", width: 150) %>
      <%= image_tag("instagram.png", width: 150) %>
      <%= image_tag("spotify.png", width: 150) %>
      <%= image_tag("linkedin.png", width: 150) %>
      <%= image_tag("google.png", width: 150) %>
    </div>
    <p class="text-center text-sm font-semibold text-mainColor p-10">
      lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum
      lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
      lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
    </p>
  </section>
  <div class="text-center text-sm font-semibold border-2">
    ----
  </div>

  <section class="h-96 flex justify-around items-center">
    <div>
      <%= image_tag("pantalla.png", width:350) %>
    </div>
    <div>
      <h2 class="font-semibold text-center text-mainColor text-2xl pb-5"> working with your team </h2>
      <p class="text-sm text-center text-mainColor font-semibold">
        lorem lorem ipsun  lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun <br>
        lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun<br>
        lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun <br>
         lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun <br>
      </p>
    </div>
  </section>

  <div class="text-center text-sm font-semibold border-2">
    -----
  </div>

  <section class="h-96 flex justify-around items-center">
    <div>
      <h2 class="font-semibold text-center text-mainColor text-2xl pb-5"> answer to survey </h2>
      <p class="text-sm text-center text-mainColor font-semibold">
        lorem lorem ipsun  lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun <br>
        lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun<br>
        lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun <br>
         lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun <br>
      </p>
    </div>
     <div>
      <%= image_tag("pantalla1.png", width:350) %>
    </div>
  </section>

  <div class="text-center text-sm font-semibold border-2">
    -----
  </div>


 
  <div class="text-center text-sm font-semibold border-2">
    -----
  </div>

   <section class="h-96 flex flex-col justify-around items-center m-32">
  <div>
    <h2 class="font-semibold text-center text-mainColor text-2xl pb-5"> answer to survey </h2>
  </div>

   
     <div class="flex py-10 justify between">
      <%= image_tag("pantalla2.png", width:320) %>
      <%= image_tag("pantalla3.png", width:260) %>
    </div>

     <div>
      <p class="text-sm text-center text-mainColor font-semibold">
        lorem lorem ipsun  lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun
        lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun
        lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun
         lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun 
      </p>
    </div>



  </section>

  <div class="text-center text-sm font-semibold border-2">
    -----
  </div>

  <section class="flex flex-col justify-center h-96 m-32">
    <div>
      <h2 class="font-semibold text-center text-mainColor text-2xl pb-5"> answer to survey </h2>
    </div>

    <div class="flex py-10">
      <%= image_tag("pantalla4.png") %>
    </div>

    <div>
      <p class="text-sm text-center text-mainColor font-semibold">
        lorem lorem ipsun  lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun
        lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun lorem lorem ipsun
        lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun
         lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun  lorem lorem ipsun 
      </p>
    </div>

  </section>

</main>